fastapi
uvicorn
python-dotenv
loguru


langchain
langchain-google-genai
langchain-mistralai
langchain-qdrant
langchain-neo4j

qdrant-client
faiss-cpu

mistralai

pymupdf

supabase
supabase_auth


tenacity
mistralai
langchain-text-splitters
