cohere
fastapi
uvicorn
python-dotenv
loguru

# Install CPU-only torch to save space
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

langchain
langchain-cohere
langchain-community
langchain-google-genai
langchain-huggingface
langchain-mistralai
langchain-qdrant
langchain-neo4j

qdrant-client
faiss-cpu

mistralai

pymupdf

supabase
supabase_auth

langfuse

ruff
black
isort
pytest

sentence-transformers
tenacity
mistralai
langchain-text-splitters
