cohere
fastapi
uvicorn
python-dotenv
loguru

langchain
langchain-cohere
langchain-community
langchain-google-genai
langchain-huggingface
langchain-mistralai
langchain-qdrant
langchain-redis
langchain-neo4j

qdrant-client
faiss-cpu

mistralai

pymupdf

supabase_auth

langfuse

ruff
black
isort
pytest

sentence-transformers
tenacity
mistralai